<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Himpunan Mahasiswa Matematika Universitas Airlangga</title>
    <meta name="description" content="Himpunan Mahasiswa Matematika Universitas Airlangga">
    <!-- Styles -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,800" rel="stylesheet" type="text/css"><!-- Google web fonts -->
    <link href="/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"><!-- font-awesome -->
    <link href="/assets/css/dropdown-menu.css" rel="stylesheet" type="text/css"><!-- dropdown-menu -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"><!-- Bootstrap -->
    <link href="/assets/css/jquery.fancybox.css" rel="stylesheet" type="text/css"><!-- Fancybox -->
    <link href="/assets/css/audioplayer.css" rel="stylesheet" type="text/css"><!-- Audioplayer -->
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css"><!-- theme styles -->
    <link href="/assets/css/additional.css" rel="stylesheet" type="text/css"><!-- additional styles -->

  </head>

  <body role="document">

    <!-- device test, don't remove. javascript needed! -->
    <span class="visible-xs"></span><span class="visible-sm"></span><span class="visible-md"></span><span class="visible-lg"></span>
    <!-- device test end -->

    <div id="k-head" class="container"><!-- container + head wrapper -->

    	<div class="row"><!-- row -->

            <!-- functional navig -->
            <!-- <nav class="k-functional-navig">

                <ul class="list-inline pull-right">
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Calendar</a></li>
                    <li><a href="#">Directions</a></li>
                </ul>

            </nav> -->
            <!-- functional navig end -->

        	<div class="col-lg-12">

        		<div id="k-site-logo" class="pull-left"><!-- site logo -->

                    <h1 class="k-logo">
                        <a href="/" title="Beranda">
                            <img src="/assets/images/himatika-logo.png" alt="Himatika Universitas Airlangga" class="img-responsive" />
                        </a>
                    </h1>

                    <a id="mobile-nav-switch" href="#drop-down-left"><span class="alter-menu-icon"></span></a><!-- alternative menu button -->

            	</div><!-- site logo end -->

            	<nav id="k-menu" class="k-main-navig"><!-- main navig -->

                    <ul id="drop-down-left" class="k-dropdown-menu">
                        <li>
                            <a href="#" class="Drop down menu" title="Pengurus Himatika">Kepengurusan</a>
                             <ul class="sub-menu">
                                <li><a href="/pengurus">Tahun 2015</a></li>
                                <li><a href="/2014">Tahun 2014</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="Drop down menu" title="Program Kerja">Proker</a>
                             <ul class="sub-menu">
                                <li><a href="#">Proker</a></li>
                                <li><a href="/2014">Agenda</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" title="Foto/Video">Gallery</a>
                        </li>
                        <li>
                            <a href="#" class="Drop down menu" title="Tanya jawab/saran">Forum Himatika</a>
                        </li>
                       <!--  <li>
                            <a href="#" title="Menu 2">Menu 2</a>
                        </li>
                        <li>
                            <a href="#" title="Menu 3">Menu 3</a>
                        </li>
                        <li>
                            <a href="#" class="Drop down menu" title="Menu 4">Menu 4</a>
                            <ul class="sub-menu">
                                <li><a href="news-single.html">News Single Page</a></li>
                                <li><a href="events-single.html">Events Single Page</a></li>
                                <li><a href="courses-single.html">Course Single Page</a></li>
                                <li><a href="gallery-single.html">Gallery Single Page</a></li>
                                <li><a href="news-stacked.html">News Stacked Page</a></li>
                                <li><a href="search-results.html">Search Results Page</a></li>
                                <li>
                                    <a href="#">Menu Test</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Second Level 01</a></li>
                                        <li>
                                            <a href="#">Second Level 02</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Third Level 01</a></li>
                                                <li><a href="#">Third Level 02</a></li>
                                                <li><a href="#">Third Level 03</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Second Level 03</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" title="Menu 5">Menu 5</a>
                        </li>
                        <li>
                            <a href="#" title="Menu 6">Menu 6</a>
                        </li>
                        <li>
                            <a href="#" title="Menu 7">Menu 7</a>
                        </li> -->
            	</nav><!-- main navig end -->

            </div>

        </div><!-- row end -->

    </div><!-- container + head wrapper end -->

    <div id="k-body"><!-- content wrapper -->

    	<div class="container"><!-- container -->

        	<div class="row"><!-- row -->

            	<div class="k-breadcrumbs col-lg-12 clearfix"><!-- breadcrumbs -->

                	<ol class="breadcrumb">
                    	<li><a href="#">Himatika</a></li>
                        <li class="active">Beranda</li>
                    </ol>

                </div><!-- breadcrumbs end -->

            </div><!-- row end -->

<!-- start slide -->
<div class="row no-gutter fullwidth"><!-- row -->
    <div class="col-lg-12 clearfix"><!-- featured posts slider -->
        <div id="carousel-featured" class="carousel slide" data-interval="4000" data-ride="carousel"><!-- featured posts slider wrapper; auto-slide -->
            <ol class="carousel-indicators"><!-- Indicators -->
                <li data-target="#carousel-featured" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-featured" data-slide-to="1"></li>
                <li data-target="#carousel-featured" data-slide-to="2"></li>
            </ol><!-- Indicators end -->
            <div class="carousel-inner"><!-- Wrapper for slides -->
                <div class="item active">
                    <img src="/assets/images/1140-DSC_0307.JPG" alt="Image slide 3" />
                    <div class="k-carousel-caption pos-1-3-right scheme-dark">
                        <div class="caption-content">
                            <h3 class="caption-title">Keluarga &amp; Kebersamaan</h3>
                            <p>
                            "The bond that links your true family is not one of blood, but of respect and joy in each other's life." - Richard Bach
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/assets/images/1140-DSC_0308.JPG" alt="Image slide 2" />
                    <div class="k-carousel-caption pos-1-3-left scheme-light">
                        <div class="caption-content">
                        <h3 class="caption-title">Silaturahmi</h3>
                        <p>
                        Himpunan Mahasiswa Universitas Airlangga juga sering mengunjungi atau menyambut himpunan lain di seluruh Indonesia.
                        </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/assets/images/1140-DSC_2648.JPG" alt="Image slide 1" />
                    <div class="k-carousel-caption pos-2-3-right scheme-dark">
                        <div class="caption-content">
                        <h3 class="caption-title">Keceriaan</h3>
                        <p>
                        Banyak sekali event yang di adakan oleh Himpunan Mahasiswa Universitas Airlangga, baik di dalam dan di luar kampus.
                        </p>
                        <!-- <p>
                        <a href="#" class="btn btn-sm btn-danger" title="Button">Selanjutnya</a>
                        </p> -->
                        </div>
                    </div>
                </div>
            </div><!-- Wrapper for slides end -->
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-featured" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
            <a class="right carousel-control" href="#carousel-featured" data-slide="next"><i class="fa fa-chevron-right"></i></a>
            <!-- Controls end -->
        </div><!-- featured posts slider wrapper end -->
    </div><!-- featured posts slider end -->
</div><!-- row end -->
            
            <div class="row no-gutter"><!-- row -->

                <div class="col-lg-4 col-md-4"><!-- upcoming events wrapper -->

                    <div class="col-padded col-shaded"><!-- inner custom column -->

                    	<ul class="list-unstyled clear-margins"><!-- widgets -->

                        	<li class="widget-container widget_up_events"><!-- widgets list -->

                                <h1 class="title-widget">Berita Himatika</h1>

                                <ul class="list-unstyled">

                                    <li class="up-event-wrap">

                                        <h1 class="title-median"><a href="#" title="Kunjungan Industri">Kunjungan Industri</a></h1>

                                        <div class="up-event-meta clearfix">
                                            <div class="up-event-date">Jul 15, 2015</div>
                                            <!-- <div class="up-event-time">08:00 - selesai</div> -->
                                        </div>

                                        <p>
                                        Kunjungan tahunan warga himatika ke beberapa industri besar yang ada di Indonesia <a href="#" class="moretag" title="Selanjutnya">Selengkapnya</a>
                                        </p>

                                    </li>

                                    <li class="up-event-wrap">

                                        <h1 class="title-median"><a href="#" title="MLC 2015">MLC 2015</a></h1>

                                        <div class="up-event-meta clearfix">
                                            <div class="up-event-date">Jul 15, 2015</div>
                                        </div>

                                        <p>
                                        Kompetisi yang diadakan oleh Himatika untuk pelajar SMA dan SMP <a href="#" class="moretag" title="Selanjutnya">Selengkapnya</a>
                                        </p>

                                    </li>

                                    <li class="up-event-wrap">

                                        <h1 class="title-median"><a href="#" title="HIMATIKA Goes to kampung">HIMATIKA Goes to kampung</a></h1>

                                        <div class="up-event-meta clearfix">
                                            <div class="up-event-date">Jul 15, 2015</div>
                                            <!-- <div class="up-event-date">Sep 11, 2015</div> -->
                                        </div>

                                        <p>
                                        Bakti sosial Himatika untuk kampung sekitar kampus berupa pembelajaran dan amal ilmu <a href="#" class="moretag" title="Selanjutnya">Selengkapnya</a>
                                        </p>

                                    </li>

                                </ul>

                            </li><!-- widgets list end -->

                        </ul><!-- widgets end -->

                    </div><!-- inner custom column end -->

                </div><!-- upcoming events wrapper end -->

                <div class="col-lg-4 col-md-4"><!-- recent news wrapper -->

                    <div class="col-padded"><!-- inner custom column -->

                        <ul class="list-unstyled clear-margins"><!-- widgets -->

                        	<li class="widget-container widget_recent_news"><!-- widgets list -->

                                <h1 class="title-widget">Berita Unair</h1>

                                <ul class="list-unstyled">

                                    <li class="recent-news-wrap">

                                        <h1 class="title-median"><a href="#" title="Closing Session FK UA Dekan Cup 2015">Closing Session FK UA Dekan Cup 2015</a></h1>

                                        <div class="recent-news-meta">
                                            <div class="recent-news-date">Jul 15, 2015</div>
                                        </div>

                                        <div class="recent-news-content clearfix">
                                            <!-- <figure class="recent-news-thumb">
                                                <a href="#" title="Closing Session FK UA Dekan Cup 2015"><img src="/assets/images/90x90.jpg" class="attachment-thumbnail wp-post-image" alt="Kerja Sama Stem Cell Unair-Kimia Farma Rp 11 M" /></a>
                                            </figure> -->
                                            <div class="recent-news-text no-figure">
                                                <p>
                                                Closing session yang diadakan Fakultas Kedokteran Universitas Airlangga pada dekan cup 2015 <a href="#" class="moretag" title="Selanjutnya">Selengkapnya</a>
                                                </p>
                                            </div>
                                        </div>

                                    </li>
                                    <li class="recent-news-wrap">

                                        <h1 class="title-median"><a href="#" title="Airlangga Summer Program 2015">Airlangga Summer Program 2015</a></h1>

                                        <div class="recent-news-meta">
                                            <div class="recent-news-date">Jul 15, 2015</div>
                                        </div>

                                        <div class="recent-news-content clearfix">
                                            <div class="recent-news-text no-figure">
                                                <p>
                                                Be a creative industry in facing global challenges <a href="#" class="moretag" title="Selanjutnya">Selengkapnya</a>
                                                </p>
                                            </div>
                                        </div>

                                    </li>
									<li class="recent-news-wrap">

                                        <h1 class="title-median"><a href="#" title="Biology Environmental Smart Competition">Biology Environmental Smart Competition</a></h1>

                                        <div class="recent-news-meta">
                                            <div class="recent-news-date">Jul 15, 2015</div>
                                        </div>

                                        <div class="recent-news-content clearfix">
                                            <div class="recent-news-text no-figure">
                                                <p>
                                                Perlombaan kompetisi lingkungan yang di adakan oleh prodi Biologi fakultas sains dan Teknologi <a href="#" class="moretag" title="Selanjutnya">Selengkapnya</a>
                                                </p>
                                            </div>
                                        </div>

                                    </li>


                                </ul>

                            </li><!-- widgets list end -->

                        </ul><!-- widgets end -->

                    </div><!-- inner custom column end -->

                </div><!-- recent news wrapper end -->

                <div class="col-lg-4 col-md-4"><!-- misc wrapper -->

                    <div class="col-padded col-shaded"><!-- inner custom column -->
                    <ul class="list-unstyled clear-margins"><!-- widgets -->

                            <li class="widget-container widget_recent_news"><!-- widgets list -->

                                <h1 class="title-widget">Hubungi</h1>

                                <div itemscope itemtype="http://data-vocabulary.org/Organization">

                                    <h2 class="title-median m-contact-subject" itemprop="name">Himatika Universitas Airlangga</h2>

                                    <div class="m-contact-address" itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
                                        <span class="m-contact-street" itemprop="street-address">Jl. Mulyorejo Kampus C</span>
                                        <span class="m-contact-city-region"><span class="m-contact-city" itemprop="locality">Surabaya</span>, <span class="m-contact-region" itemprop="region">Jawa timur</span></span>
                                        <span class="m-contact-zip-country"><span class="m-contact-zip" itemprop="postal-code">60115</span> <span class="m-contact-country" itemprop="country-name">Indonesia</span></span>
                                    </div>

                                    <div class="m-contact-tel-fax">
                                        <span class="m-contact-tel">Tel: <span itemprop="tel">+6287-989-123-321</span></span>
                                    </div>

                                </div>

                                <div class="social-icons">

                                    <ul class="list-unstyled list-inline">

                                        <li><a href="#" title="Hubungi kami"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>

                                    </ul>

                                </div>

                            </li>

                        </ul>

                    </div><!-- inner custom column end -->

                </div><!-- misc wrapper end -->

            </div><!-- row end -->

        </div><!-- container end -->

    </div><!-- content wrapper end -->

    </div><!-- footer end -->

    <div id="k-subfooter"><!-- subfooter -->

    	<div class="container"><!-- container -->

        	<div class="row"><!-- row -->

            	<div class="col-lg-12">

                	<p class="copy-text text-inverse">
                    &copy; 2015 Himpunan Mahasiswa Matematika Universitas Airlangga. All rights reserved.
                    </p>

                </div>

            </div><!-- row end -->

        </div><!-- container end -->

    </div><!-- subfooter end -->

    <!-- jQuery -->
    <script src="/assets/js/jquery-2.1.1.min.js"></script>
    <script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>

    <!-- Bootstrap -->
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- Drop-down -->
    <script src="/assets/js/dropdown-menu.js"></script>

    <!-- Fancybox -->
	<script src="/assets/js/jquery.fancybox.pack.js"></script>
    <script src="/assets/js/jquery.fancybox-media.js"></script><!-- Fancybox media -->

    <!-- Responsive videos -->
    <script src="/assets/js/jquery.fitvids.js"></script>

    <!-- Audio player -->
	<script src="/assets/js/audioplayer.min.js"></script>

    <!-- Pie charts -->
    <script src="/assets/js/jquery.easy-pie-chart.js"></script>

    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>

    <!-- Theme -->
    <script src="/assets/js/theme.js"></script>

  </body>
</html>
